@using DentalBussinesLogic.DTO;
@{
    ViewData["Title"] = "Home Page";
}
@model UserDTO

<div class="text-center">
    <form asp-action="Register" asp-controller="User" method="post" class="registration-form">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-input" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-input" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-input" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-input" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Role"></label>
            <input asp-for="Role" class="form-input" />
        </div>

        <button type="submit" class="submit-button">Register</button>
    </form>
</div>
